*{
  font-family: "Montserrat", sans-serif;
}
.link{
    padding-left: 50px;
    /* margin-top: 10px; */
   
}

.navbar-nav{
  margin-right:250px;
}
.buy-now{
  height: 35px;
  width: 120px;
  margin: 10px;
  /* padding:10 10px ; */
  background-color: black;
  color: white;
  border-radius: 10px;
}
.section1-blog{
  background-color: #dad6d5;
}
.laptop-image{
  box-shadow:10px 10px 10px 50px #f77865 ;
}
